-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "settings" (
    "id" SERIAL NOT NULL,
    "template_name" VARCHAR(50) NOT NULL DEFAULT 'Primary',
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "active" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user" (
    "id" SERIAL NOT NULL,
    "username" VARCHAR(50) NOT NULL DEFAULT 'Admin',
    "email" VARCHAR(50) NOT NULL DEFAULT 'siavash.araghi@yahoo.com',
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "active" BOOLEAN DEFAULT true,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "post" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(50) NOT NULL,
    "content" VARCHAR NOT NULL,
    "published" BOOLEAN DEFAULT false,
    "created_at" TIME(6),
    "author_id" INTEGER,
    "image_url" VARCHAR(100),
    "short_description" VARCHAR(80),

    CONSTRAINT "post_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "product" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(50) NOT NULL,
    "title" VARCHAR(50) NOT NULL,
    "short_description" VARCHAR(150) NOT NULL,
    "description" VARCHAR NOT NULL,
    "main_img_url" VARCHAR NOT NULL,
    "price" INTEGER NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "in_marketing" BOOLEAN NOT NULL DEFAULT false,
    "marketing_img_url" VARCHAR(50),
    "mobile_marketing_img_url" VARCHAR(50),
    "url_address" VARCHAR(50),
    "origin" VARCHAR(40),
    "features" VARCHAR,

    CONSTRAINT "product_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lists" (
    "id" SERIAL NOT NULL,
    "list_type" VARCHAR(50) NOT NULL,

    CONSTRAINT "lists_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pages" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(50) NOT NULL,
    "title" VARCHAR(50) NOT NULL,
    "description" VARCHAR(100) NOT NULL,
    "url_address" VARCHAR(50) NOT NULL,
    "keys" VARCHAR(50) NOT NULL,
    "list_type" INTEGER,

    CONSTRAINT "pages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "category" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(50) NOT NULL,
    "parent_id" INTEGER,
    "url_address" VARCHAR(50) NOT NULL DEFAULT '',
    "title" VARCHAR(50),
    "description" VARCHAR(120),
    "list_type" INTEGER,
    "image_url" VARCHAR(50),

    CONSTRAINT "category_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "productcategories" (
    "id" SERIAL NOT NULL,
    "product_id" INTEGER NOT NULL,
    "category_id" INTEGER NOT NULL,

    CONSTRAINT "productcategories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "general" (
    "id" SERIAL NOT NULL,
    "title" VARCHAR(50),
    "description" VARCHAR(200),
    "keys" VARCHAR(120),
    "logo_url" VARCHAR(50),
    "header_text" VARCHAR(70),
    "short_description" VARCHAR(200),
    "address" VARCHAR(150),
    "tel" VARCHAR(25),
    "mobile" VARCHAR(25),
    "email" VARCHAR(40),
    "about_img_url" VARCHAR,
    "about_description" VARCHAR,

    CONSTRAINT "General_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "colors" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(50) NOT NULL,

    CONSTRAINT "colors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "productcolors" (
    "id" SERIAL NOT NULL,
    "product_id" INTEGER NOT NULL,
    "color_id" INTEGER NOT NULL,

    CONSTRAINT "productColors_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "images" (
    "id" SERIAL NOT NULL,
    "image_url" VARCHAR(100),
    "color_id" INTEGER,

    CONSTRAINT "images_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "productimages" (
    "id" SERIAL NOT NULL,
    "product_id" INTEGER NOT NULL,
    "image_id" INTEGER NOT NULL,

    CONSTRAINT "productimages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "messages" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(50),
    "email" VARCHAR(50),
    "phone" VARCHAR(50),
    "message" VARCHAR,

    CONSTRAINT "messages_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "settings_templatename_key" ON "settings"("template_name");

-- CreateIndex
CREATE UNIQUE INDEX "users_username_key" ON "user"("username");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "user"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Unique_columns" ON "productcategories"("product_id", "category_id");

-- CreateIndex
CREATE UNIQUE INDEX "unique colors and products" ON "productcolors"("product_id", "color_id");

-- AddForeignKey
ALTER TABLE "post" ADD CONSTRAINT "author" FOREIGN KEY ("author_id") REFERENCES "user"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pages" ADD CONSTRAINT "pages_list_type_fkey" FOREIGN KEY ("list_type") REFERENCES "lists"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "category" ADD CONSTRAINT "category_list_type_fkey" FOREIGN KEY ("list_type") REFERENCES "lists"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "category" ADD CONSTRAINT "parent" FOREIGN KEY ("parent_id") REFERENCES "category"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productcategories" ADD CONSTRAINT "category" FOREIGN KEY ("category_id") REFERENCES "category"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productcategories" ADD CONSTRAINT "product" FOREIGN KEY ("product_id") REFERENCES "product"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productcolors" ADD CONSTRAINT "color" FOREIGN KEY ("color_id") REFERENCES "colors"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productcolors" ADD CONSTRAINT "product" FOREIGN KEY ("product_id") REFERENCES "product"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "images" ADD CONSTRAINT "color" FOREIGN KEY ("color_id") REFERENCES "colors"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productimages" ADD CONSTRAINT "image" FOREIGN KEY ("image_id") REFERENCES "images"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productimages" ADD CONSTRAINT "productid" FOREIGN KEY ("product_id") REFERENCES "product"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

